@model Epidi.Models.ViewModel.IB.IBCommissionInstrument;
@{
    Layout = null;
}

@using (Html.BeginForm("SaveIBCommissionInstrument", "IB", FormMethod.Post, new { id = "IBCommissionInstrumentForm" }))
{
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                @Html.HiddenFor(p => p.Id)
                @Html.HiddenFor(p => p.IBID)
                @Html.HiddenFor(p => p.MasterInstrumentId)
               @* @Html.LabelFor(model => model.MasterInstrumentId, "MasterInstrumentName")
                @Html.DropDownListFor(model => model.MasterInstrumentId, new SelectList(ViewBag.InstrumentList, "Value", "Text", Model.MasterInstrumentId), "-- Select Master Instrument --", new { @class = "form-control" ,@name="MasterInstrumentName" })*@
                @Html.LabelFor(model => model.MasterInstrumentName,"MasterInstrumentName")
                @Html.TextBoxFor(p => p.MasterInstrumentName, new { @class = "form-control", @placeholder = "MasterInstrumentName" ,@name="MasterInstrumentName",@readonly = "readonly"})
            </div>
        </div>
        @*<div class="col-6">
            <div class="form-group">
                @Html.LabelFor(model => model.SymbolGroupName,"SymbolGroupName")
                @Html.TextBoxFor(p => p.SymbolGroupName, new { @class = "form-control", @placeholder = "SymbolGroupName" ,@name="SymbolGroupName",@readonly = "readonly"})
            </div>
        </div>*@
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(model => model.MarkUpPer1000,"MarkUpPer1000")
                @Html.TextBoxFor(p => p.MarkUpPer1000, new { @class = "form-control", @placeholder = "MarkUpPer1000" ,@name="MarkUpPer1000" })
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(model => model.MarkUpPer,"MarkUpPer")
                @Html.TextBoxFor(p => p.MarkUpPer, new { @class = "form-control", @placeholder = "MarkUpPer" ,@name="MarkUpPer" })
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(model => model.BuySwapPer,"BuySwapPer")
                @Html.TextBoxFor(p => p.BuySwapPer, new { @class = "form-control", @placeholder = "BuySwapPer" ,@name="BuySwapPer" })
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(model => model.BuySwapPer1000,"BuySwapPer1000")
                @Html.TextBoxFor(p => p.BuySwapPer1000, new { @class = "form-control", @placeholder = "BuySwapPer1000" ,@name="BuySwapPer1000" })
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(model => model.SellSwapPer1000,"SellSwapPer1000")
                @Html.TextBoxFor(p => p.SellSwapPer1000, new { @class = "form-control", @placeholder = "SellSwapPer1000" ,@name="SellSwapPer1000" })
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(model => model.SellSwapPer,"SellSwapPer")
                @Html.TextBoxFor(p => p.SellSwapPer, new { @class = "form-control", @placeholder = "SellSwapPer" ,@name="SellSwapPer" })
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
}

