@using Epidi.Models.Model;
@model LeverageRuleImport
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.PageTitle = "Add Leverage Rule";
    ViewBag.Method = "Add Leverage Rule";
   

    ViewBag.DetailName = "Leverage Rule";
    ViewBag.DetailURL = "/LevarageRuleImport/Index";


}
<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=date].form-control, input[type=datetime-local].form-control, input[type=month].form-control, input[type=time].form-control {
        width: 75px;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .select2-container {
        display: block;
    }

    h3 {
        color: #dc3545 !important;
        font-weight: bold;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .progress {
        display: block;
        position: relative;
        margin: 20px;
        width: 425px;
        background-color: #ddd;
        border: 1px solid blue;
        padding: 1px;
        left: 40px;
        border-radius: 3px;
    }

    .percent {
        position: absolute;
        display: inline-block;
        color: #fff;
        font-weight: bold;
        top: 100%;
        left: 50%;
        margin-top: -9px;
        margin-left: -20px;
        -webkit-border-radius: 4px;
    }

    .bar {
        background-color: #007bff;
        width: 0%;
        height: 30px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h3>Leverage Rule</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <input type="hidden" id="InstrumentsList" value="@ViewBag.Instruments" />
                <input type="hidden" id="SymbolList" value="@ViewBag.SymbolGroups" />
                <input type="hidden" id="LegalEntityList" value="@ViewBag.LegalEntity" />
                <input type="hidden" id="LeverageRuleID" value="@ViewBag.RuleID" />
                <input type="hidden" id="ruleconditions" value="@(Model.RuleConditionStr)" />
                <input type="hidden" id="fieldlist" value="@ViewBag.FieldsStr" />
                <div class="row">
                    <div class="col-12" id="divUploadFile">
                        @using (Html.BeginForm("UploadLevarageRuleExcel", "LevarageRuleImport", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmExcelForm" }))
                        {
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        @*<input type="hidden" id="lpRulesPriorityData" />*@
                                        <input type="hidden" id="rulesCondtionData" />
                                        <input type="hidden" id="instrumentData" />
                                        @Html.HiddenFor(model => model.LeverageRuleId,"Id")
                                        @Html.LabelFor(model => model.LeverageName, "Name")
                                        @Html.TextBoxFor(p => p.LeverageName, new { @class = "form-control", @placeholder = "Name" ,@name="Name"})
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Priority1, "Priority")
                                        @Html.TextBoxFor(p => p.Priority1, new { @class = "form-control", @placeholder = "Priority" ,@name="Priority"})
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.LComment, "Comment")
                                        @Html.TextBoxFor(p => p.LComment, new { @class = "form-control", @placeholder = "Comment" ,@name="Comment"})
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-3 custom-file form-group float-sm-left mr-3" style="width:230px;margin-left:7px;">
                                    <input type="file" id="FileUpload" name="FileUpload" class="custom-file-input">
                                    <label id="lblSkipRule" class="custom-file-label" style="text-align:left" for="file">Choose Levarage</label>
                                </div>
                                <div class="col-5">
                                    <button type="submit" class="btn btn-info form-group float-sm-left mr-3 ">Import Levarage</button>
                                    @*<i class="fa fa-file-import"></i>*@
                                </div>
                            </div>
                            @if (ViewBag.RuleID != null)
                            {
                                <div class="">
                                    <div class="form-group">
                                        @*<a href="/LevarageRuleImport/ExportLevarage?LeverageRuleId=@ViewBag.RuleID" id="exportToExcel" class="btn btn-info">Export Levarage</a>*@
                                        <button type="button" class="btn btn-info" onclick="ExportLeverageRuleData(@ViewBag.RuleID)">Export Levarage</button>
                                    </div>
                                </div>
                            }
                        }
                    </div>

                </div>
                <div id="accordion">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title w-100">
                                <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false">
                                    Leverage Rules
                                </a>
                            </h3>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion" style="">
                            <div class="card-body">
                                <div id="dvSearchInstrument" class="row">
                                    <div class="col-3">
                                        <label>Instruments</label>
                                        @*@Html.DropDownList("name", new SelectList(ViewBag.Instruments, "name","id"), "-- Select Instruments --", new { @class = "form-control" ,@id="InstrumentsList" })*@
                                        @*@if(Model.FirstOrDefault()!=null)*@
                                        @if (ViewBag.RuleID != null)
                                        {
                                            @Html.DropDownListFor(model => model.instrumentMasters, new SelectList(Model.instrumentMasters,"id", "name"), "-- Select Instruments --", new { @class = "form-control" ,@name="Instruments",@id="Instruments" })
                                        }
                                        @*<select class="form-control" id="instrumentid_filter" style="border:1px solid;">
                                        </select>*@
                                    </div>
                                    @*<div class="col-3">
                                    <label>LP</label>
                                    <select class="form-control" id="objRuleLpPriorityViewModel_LPId_filter" style="border:1px solid;">
                                    </select>
                                    </div>*@
                                    <div class="col-3">
                                        <div class="form-group mt-3">
                                            <button type="button" onclick="AddNameFilter();" id="Search" class="btn btn-info mt-3">Search</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="DivInstrument" style="width: 100%;overflow-x: hidden;">
                                    <table id="tblInstrument">
                                        @*@Html.Partial("Controls",Model)*@
                                        @*<tr>
                                        <th>#</th>
                                        <th>Instruments</th>
                                        <th>Day</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Max Spread</th>
                                        <th>LP</th>
                                        <th>Priority</th>
                                        <th>MBId</th>
                                        <th>Mask</th>
                                        <th>Timeout</th>
                                        <th>Action</th>
                                        </tr>*@
                                        @*<tr>
                                        <td>
                                        <div class="form-group">
                                        <input id="objRuleInstrument_Id_0" type="hidden" value="1">
                                        <input id="objRuleInstrumen_RuleId_0" type="hidden" value="1">
                                        <select class="form-control" id="instrumentid_0" style="border:1px solid;">
                                        <option value=""> --Select--</option>
                                        <option value="7"> Apple</option>
                                        <option value="8"> JBL</option>
                                        <option value="11"> EURUSD</option>
                                        <option value="12"> JBL123</option>
                                        </select>
                                        </div>
                                        </td>
                                        <td style="width:130px;">
                                        <div class="form-group">
                                        <select class="form-control" id="Day_0" name="Day">
                                        <option value="1">Sunday</option>
                                        <option value="2">Monday</option>
                                        <option value="3">Tuesday</option>
                                        <option value="4">Wednesday</option>
                                        <option value="5">Thursday</option>
                                        <option value="6">Friday</option>
                                        <option value="7">Saturday</option>
                                        </select>
                                        </div>
                                        </td>
                                        <td>
                                        <div class="form-group">
                                        <input class="form-control" id="StartTime_0" type="time">
                                        </div>
                                        </td>
                                        <td>
                                        <div class="form-group">
                                        <input class="form-control" id="EndTime_0" type="time">
                                        </div>
                                        </td>
                                        <td>
                                        <div class="form-group">
                                        <input class="form-control valid" id="MaxSpread_0" placeholder="Max Spread" type="number">
                                        </div>
                                        </td>
                                        <td style="width:100px;">
                                        <input id="objRuleLpPriorityViewModel_Id_0_0" type="hidden" value="1">
                                        <input id="objRuleLpPriorityViewModel_RuleId_0_0" type="hidden" value="1">
                                        <input id="objRuleLpPriorityViewModel_RuleInstrumentId_0_0" type="hidden" value="1">
                                        <div class="form-group">
                                        <select id="objRuleLpPriorityViewModel_LPId_0_0" class="form-control">
                                        <option value="">--Select--</option>
                                        <option value="1">GATEIO</option>
                                        <option value="2">LMAX</option>
                                        <option value="3">Saxo</option>
                                        </select>
                                        </div>
                                        </td>
                                        <td>
                                        <div class="form-group">
                                        <input class="form-control" id="objRuleLpPriorityViewModel_Priority_0_0" placeholder="Priority" type="number" value="1">
                                        </div>
                                        </td>
                                        <td>
                                        <div class="form-group">
                                        <input class="form-control" id="objRuleLpPriorityViewModel_MarkUpValue_0_0" placeholder="MarkUpValue" type="number" value="0">
                                        </div>
                                        </td>
                                        <td>
                                        <div class="form-group">
                                        <input class="form-control" id="objRuleLpPriorityViewModel_MbId_0_0" placeholder="MBId" type="number" value="12">
                                        </div>
                                        </td>
                                        <td>
                                        <div class="form-group">
                                        <input class="form-control" id="objRuleLpPriorityViewModel_Mask_0_0" placeholder="Mask" type="number" value="-5">
                                        </div>
                                        </td>
                                        <td>
                                        <div class="form-group">
                                        <input class="form-control" id="objRuleLpPriorityViewModel_Timeout_0_0" placeholder="Timeout" type="number" value="15000">
                                        </div>
                                        </td>
                                        <td>
                                        <div class="form-group">
                                        <a href="javascript:void(0)" value="Delete" onclick="DeleteLpRule(1,1)" style=" display: block; width: 100%; height: calc(2.25rem + 2px); padding: 0.375rem 0.75rem;">
                                        <i class="fa fa-trash" style="font-size: large;margin-top: 8px;" aria-hidden="true"></i>
                                        </a>
                                        </div>
                                        </td>
                                        </tr>*@
                                    </table>
                                </div>

                                <div class="row col-12 mt-1">
                                    @*style="float: right;"*@
                                    <div class="form-group">
                                        <button type="button" onclick="AddLeverageRule();" id="addnewInstrumentRule" class="btn btn-primary">Add Instrument Rule</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-info">
                        <div class="card-header">
                            <h4 class="card-title w-100">
                                <a class="d-block w-100" data-toggle="collapse" href="#collapseThree">
                                    Rule Condition
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row" id="divRuleDetails">

                                        <input id="objRuleConditions_Dtl_Id_0" type="hidden" class="form-control">
                                        <input id="objRuleConditions_Id_0" type="hidden" class="form-control">

                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Fields Name</label>
                                                @*  @if (Model.objRuleConditionViewModel != null && Model.objRuleConditionViewModel.conditionRulesDtlObj != "")
                                                {
                                                <input type="hidden" id="ruleconditionjson" value="@Model.objRuleConditionViewModel.conditionRulesDtlObj" />
                                                }*@
                                                <select id="FieldName_0" name="FieldName_0" class="form-control" onchange="FieldsNameOnChange(0);">
                                                    @* @foreach (var filed in ViewBag.UserFieldsList)
                                                    {
                                                    <option value="@filed.Value">@filed.Text</option>
                                                    }*@
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Operation</label>
                                                <select id="Opration_0" name="Opration" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="col-4" id="ddlOprationValue_0">
                                            <div class="form-group">
                                                <label>Operation Value</label>
                                                <input type="text" id="OprationValue_0" name="OprationValue_0" class="form-control" placeholder="Operation Value" />
                                                @*@Html.TextBoxFor(p => p.OprationValue, new { @class = "form-control", @placeholder = "Opration Value"
                                                ,@name="OprationValue",Id = "OprationValue_0"})*@
                                            </div>
                                        </div>

                                        <div class="col-4" id="ddlOprationValueTemp_0" style="display:none;">
                                            <div class="form-group">
                                                <label>Operation Value</label>
                                                <select id="OprationIdTemp_0" name="OprationIdTemp" onchange="ddlOprationValueTempOnChange(0)" class="form-control"></select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row col-12 mt-1" style="float: right;">
                                        <div class="form-group">
                                            <button type="button" onclick="AddNewRuleDtl();" id="addnewCondition" class="btn btn-primary">Add Condition</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h3></h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h3></h3>
                    </div>
                </div>

                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <h3></h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button onclick="SaveLevarageRule();" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>

<div class="modal fade" id="ProcessModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h1>Processing...</h1>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-6">
                    <div class="progress">
                        <div class="bar"></div>
                        <div class="percent">0%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/js/jquery-validation/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/rule_lp_priority.js"></script>
    <script src="~/js/easy-number-separator.js"></script>

    @*<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>*@
    <script>
        
        //$(function() {
        //    $('#dropDown').select2();
        //});
        //niti code for scroller start
        //$('#tblInstrument').DataTable({scrollX: true,});
        //niti code for scroller end

        $(document).ready(() => {
            var mainId = $('#LeverageRuleID').val();
            //$('#tblInstrument').DataTable({ scrollX: true, });
            BindFiledNameDynamic(0);
            BindLpRule("0");
            $("#dvSearchInstrument").hide();
            if (mainId!="" && mainId!="0")
            {
                $("#dvSearchInstrument").show();
            }
                GetLeverageRuleInstrumentByRuleId(mainId,0);
           
            if (mainId == "0") {
                $('#objRuleLpPriorityViewModel_Priority').val(1000);
            }
            $('#StartTime').val($('#starttime').val());
            $('#EndTime').val($('#endtime').val());
            $("#Instruments").select2();
            //var conditions=JSON.parse(JSON.parse($('#ruleconditions').val()));
            //$.each(conditions,function(i,j){

            //})
            //GetRuleInstrumentByRuleId(mainId);
            //GetLpRuleByRuleId(mainId);

            //BindLpRule("filter");
            //BindIntruments("filter");
            $('#FileUpload').on('change', function(e) {
                //get the file name
                var fileName = e.target.files[0].name;
                $(this).next('.custom-file-label').html(fileName);
            })
            $(document).on("submit", "#frmExcelForm", function(e) {
               // $("#Loader").show();
                $("#ProcessModal").modal({ backdrop: 'static', keyboard: false });
                $("#ProcessModal").focus();
                $("#ProcessModal").modal('show');
                var totalCnt = 500;
                var Interval = totalCnt / 100;
                Interval = Interval * 10;
                var counter = totalCnt / 100;
                counter = Math.round(10);
                var intervalId = window.setInterval(function () {
                    if (counter < 90) {
                        updateProgress(counter);
                        counter = counter + 7;
                    }
                }, Interval);
                e.preventDefault();
                debugger;
                //BDMValidation();
                var form = $(this);
                form.ajaxSubmit({
                    beforeSubmit: function() {
                        if (!form.valid()) {

                            return false;
                        }
                        else {

                            return true;
                        }
                    },
                    success: function(res) {
                        if (res.statusCode == 200) {
                           // $("#Loader").hide();

                            $("#ProcessModal").modal("hide");
                            //$("#frmModel").modal('hide');
                            //$("#quoteMarkUpRuleForm").resetForm();
                            //QuoteMarkUpRuleDataTable.init('', '', '', '');

                            NotifyMsg('success', res.message);
                            window.location.href = '/LevarageRuleImport/AddLeverageRule/' + res.id;
                            $('#LeverageRuleID').val(res.id);

                        } else {
                            NotifyMsg('success', res.message);
                            location.reload();
                        }
                    },
                    Errors: function() {

                        NotifyMsg('error', res.message);
                    }
                });
                return false;
            });

            BindRuleConditions();
        });

        function SaveLevarageRule() {
            $("#Loader").show();
            var leverageRule = {};
            leverageRule.RuleId = $('#LeverageRuleID').val();
            leverageRule.RuleName = $('#LeverageName').val();
            leverageRule.Priority = $('#Priority1').val();
            leverageRule.Comment = $('#LComment').val();
            leverageRule.objleverageRuleImport = [];
            //var rows = $('#tblInstrument').find('tbody tr');
            var leverageRules = [];

            for (var i = 0; i <= countRuleInstrument; i++) 
            {
		        if (($("#instrumentid_" + i).val() != "") && ($("#instrumentid_" + i).val() != null)) {
			            var obj = {

				            MasterInstrumentId: $("#instrumentid_" + i).val(),
				            LeverageId: $("#hdnLeverageId_" + i).val(),
                            SymbolGroupId: $("#symbolGroup_" + i).val(),
                            Day: $("#Day_" + i).val(),
                            TimeFrom: $("#StartTime_" + i).val(),
                            TimeTo: $("#EndTime_" + i).val(),
                            Priority: $("#Priority_" + i).val(),
                            BandFrom : $("#BandFrom_" + i).val(),
                            BandTo : $("#BandTo_" + i).val(),
                            LeverageAmount: $("#LeverageAmount_" + i).val(),
				            IsNewPosition: $("#NewPosition_" + i).val(),
				            LegalEntityId: $("#LegalEntity_" + i).val()
				            
			            }
			            leverageRules.push(obj);
		        }
	        }

            //var instrumentdata = $('#tblInstrument').find('tbody tr').html()
            //if (!instrumentdata.includes("No data available")) {
            //$.each(rows, function(i, j) {
            //    var obj = {};
            //    obj.MasterInstrumentId = $(this).find("input[name='instrumentid']").val();
            //    obj.LeverageId = $(this).find("input[name='leverageid']").val();
            //    obj.SymbolGroupId = $(this).find("input[name='symbolgroup']").val();
            //    obj.Day = $(this).find("input[name='day']").val();
            //    obj.TimeFrom = $(this).find("input[name='starttime']").val();
            //    obj.TimeTo = $(this).find("input[name='endtime']").val();
            //    obj.Priority = $(this).find("input[name='priority']").val();

            //    var bandfrom = $(this).find("input[name='bandfrom']").val(); 
            //    bandfrom = bandfrom.replace(/\,/g, '');
            //    obj.BandFrom = parseFloat(bandfrom);
            //    var bandto = $(this).find("input[name='bandto']").val();
            //    bandto = bandto.replace(/\,/g, '');
            //    obj.BandTo = parseFloat(bandto);

            //    obj.LeverageAmount = $(this).find("input[name='leverage']").val();
            //    obj.IsNewPosition = $(this).find("select[name='newposition']").val();
            //    obj.LegalEntityId = $(this).find("select[name='legalentity']").val();
            //    leverageRules.push(obj);
            //});
            //}

            leverageRule.objleverageRuleImportstr = JSON.stringify(leverageRules);

            leverageRule.objRuleconditions = [];
            var rulesCount = $('#divRuleDetails').children().length;
            rulesCount = rulesCount / 4;
            var rules = [];
            for (var i = 0; i < rulesCount - 1; i++) {
                if (($("#FieldName_" + i).val() != "") && ($("#FieldName_" + i).val() != null)) {
                    rules.push({
                        'Id': $("#objRuleConditions_Dtl_Id_" + i).val() == "" ? 0 : $("#objRuleConditions_Dtl_Id_" + i).val(),
                        'RuleConditionsId': $("#objRuleConditions_Id_" + i).val() == "" ? 0 : $("#objRuleConditions_Id_" + i).val(),
                        'FieldName': $('#FieldName_' + i).val(),
                        'Opration': $('#Opration_' + i).val(),
                        'OprationValue': $('#OprationValue_' + i).val()
                    });
                }
            }
            leverageRule.objRuleconditionsstr = JSON.stringify(rules);
            //$.ajax({
            //    type: "POST",
            //    url: '/LevarageRuleImport/SaveLeverageRule',
            //    data: leverageRule,
            //    success: function (data) {
            //        $('.mappingmodal').modal('hide');
            //        alert('Data Saved !!');

            //    }
            //});


            $.ajax({
                type: "POST",
                url: '/LevarageRuleImport/SaveLeverageRule',
                data: { leverageRule },
                //contentType: false,
                //processData: false,
                success: function(res) {
                    if (res.statusCode == 200) {
                        //$("#frmModel").modal('hide');
                        //$("#rulesDetailsData").resetForm();
                        $("#Loader").hide();
                        NotifyMsg('success', res.message);
                        location.reload();
                        //window.location.href = "/LevarageRuleImport/index";

                    } else {
                        NotifyMsg('error', res.message);
                    }
                },
                error: function(errorTemp) {
                    $("#Loader").hide();
                    NotifyMsg('error', errorTemp);
                    console.log('error', errorTemp);
                }
            })

            //NotifyMsg('success', 'Saved Successfully');
            //window.location.href = '/LevarageRuleImport/Index';
        }


        function AddRuleCondition(id) {
            var rulesCount = $('#divRuleDetails').children().length;
            rulesCount = rulesCount / 4;
            var rules = [];
            for (var i = 0; i < rulesCount; i++) {
                rules.push({ 'FieldName': $('#FieldName_' + i).val(), 'Opration': $('#Opration_' + i).val(), 'OprationValue': $('#OprationValue_' + i).val() });
            }
            var model = {};
            model.RuleId = id;
            model.conditionRulesDtlObj = JSON.stringify(rules);
            $.ajax({
                type: "POST",
                url: '/RuleCondition/SaveRuleCondition',
                data: { 'model': model },
                success: function(data) {
                    $('.mappingmodal').modal('hide');
                    alert('Data Saved !!');

                }
            });
        }
        function frmValidation() {

            $('#quoteMarkUpRuleForm').validate({
                rules: {
                    Name: {
                        required: true
                    }
                },
                messages: {
                    Name: "Please enter name"
                },
                errorElement: 'span',
                errorPlacement: function(error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function(element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function(element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        }
        function BindFiledNameDynamic(count, defaultVal = "", defaultOp = "", defaultOpValue = "") {
            $.ajax({
                async: true,
                type: "POST",
                url: "@Url.Action("GetUserFieldsForDynamic","LeverageRules")",
                dataType: 'json',
                data: { tblName: 'Users' },
                success: function(response) {

                    $("#FieldName_" + count).append(`<option value="">--Select--</option>`)
                    for (i = 0; i < response.length; i++) {
                        $("#FieldName_" + count).append(`<option value="${response[i].value}">${response[i].text}</option>`);
                    }
                    debugger
                    if (defaultVal != "") {
                        $("#FieldName_" + count).val(defaultVal);
                        FieldsNameOnChange(count, defaultOp, defaultOpValue);
                    }

                },
                error: function(errorTemp) {
                    console.log('error', errorTemp);
                }
            })
        }
        function FieldsNameOnChange(count, defaultValue = "", defaultOpValue = "") {

            $("#Opration_" + count).html("");
            var selectedVal = $("#FieldName_" + count).val();
            if (selectedVal != undefined) {
                const myArray = selectedVal.split("|");
                var FieldName = myArray[0];
                var DataType = myArray[1];
                var FkKey = myArray[2];

                $.ajax({
                    async: true,
                    type: "POST",
                    url: "@Url.Action("GetOprationDropDown","LeverageRules")",
                    data: { FieldsName: FieldName, DataType: DataType, FkKey: FkKey },
                    dataType: 'json',
                    success: function(response) {
                        $("#Opration_" + count).append(`<option value="">--Select--</option>`)
                        for (var i = 0; i < response.length; i++) {
                            $("#Opration_" + count).append(`<option value="${response[i].value}">${response[i].text}</option>`)
                        }

                        if (defaultValue != "") {
                            $("#Opration_" + count).val(defaultValue);
                        }

                        $("#ddlOprationValue_" + count).show();
                        $("#ddlOprationValueTemp_" + count).hide();
                        if (FkKey == "1") {
                            $("#ddlOprationValue_" + count).hide();
                            $("#ddlOprationValueTemp_" + count).show();
                            //}
                            $("#OprationIdTemp_" + count).html("");
                            $.ajax({
                                async: true,
                                type: "POST",
                                url: "@Url.Action("GetTempOprationDropDown","LeverageRules")",
                                data: { FieldsName: FieldName, DataType: DataType, FkKey: FkKey },
                                dataType: 'json',
                                success: function(responseTemp) {
                                    $("#OprationIdTemp_" + count).append(`<option value="">--Select--</option>`)
                                    for (var i = 0; i < responseTemp.length; i++) {
                                        $("#OprationIdTemp_" + count).append(`<option value="${responseTemp[i].value}">${responseTemp[i].text}</option>`)
                                    }
                                    if (defaultOpValue != "") {
                                        $("#OprationIdTemp_" + count).val(defaultOpValue);
                                    }
                                },
                                error: function(errorTemp) {
                                    console.log('error', errorTemp);
                                }
                            })
                        }
                    },
                    error: function(error) {
                        console.log('error', error);

                    }
                })
            }
        }
        function BindRuleConditions() {
            if ($('#ruleconditions').val() != undefined && $('#ruleconditions').val()!='') {
                var rulescondition = JSON.parse($('#ruleconditions').val());
                //var rulescondition='';
                debugger
                console.log("ruleconditions -" + rulescondition);
                for (var i = 0; i < rulescondition.length; i++) {
                    if (i > 0) {
                        AddNewRuleDtl();
                        var fieldName = rulescondition[i].FieldName;

                        $("#FieldName_" + i).val(rulescondition[i].Value);

                        $("#Opration" + i).val(rulescondition[i].OprationValue);
                        $("#OprationValue_" + i).val(rulescondition[i].OprationValue);
                        //FieldsNameOnChange(i, rulescondition[i].Opration);
                        $("#objRuleConditions_Dtl_Id_" + i).val(rulescondition[i].Id);
                        $("#objRuleConditions_Id_" + i).val(rulescondition[i].RuleConditionsId);
                        var opration = rulescondition[i].Opration;
                        var oprationValue = rulescondition[i].OprationValue;
                        BindFiledNameDynamic(i, fieldName, opration, oprationValue);

                    }
                    if (i == 0) {
                        //AddNewRuleDtl();
                        BindFiledNameDynamic(i, rulescondition[i].FieldName, rulescondition[i].Opration, rulescondition[i].OprationValue);
                        $("#FieldName_" + i).val(rulescondition[i].Value);
                        FieldsNameOnChange(i, rulescondition[i].Opration);
                        $("#OprationValue_" + i).val(rulescondition[i].OprationValue);
                        //$("#OprationIdTemp_" + i).val(response.rulesDtlViewModel[i].oprationValue);
                        $("#objRuleConditions_Dtl_Id_" + i).val(rulescondition[i].Id);
                        $("#objRuleConditions_Id_" + i).val(rulescondition[i].RuleConditionsId);
                    }
                    $("#OprationValue_" + i).val(rulescondition[i].OprationValue);
                }
                //$(document).on("submit", "#quoteMarkUpRuleForm", function(e) {
                //    e.preventDefault();
                //    frmValidation();
                //    //var model={};
                //    //model.Name = $('#Name').val();
                //    //model.StartTime = $('#StartTime').val();
                //    //model.EndTime = $('#EndTime').val();
                //    //model.Day=$('#Day').val();
                //    //model.MaxSpread = $('#MaxSpread').val();
                //    //model.AutoupdateLPPriorityUp=$('#AutoupdateLPPriorityUp').is(':checked');
                //    //model.AutoupdateLPPriorityDown = $('#AutoupdateLPPriorityDown').is(':checked');
                //    //model.objRuleInstrumentViewModel={};
                //    //model.objRuleLpPriorityViewModel = {};
                //    //model.objRuleConditionViewModel={};
                //    //model.objRuleConditionViewModel.rulesDtlViewModel=[];
                //    var form = $(this);
                //    form.ajaxSubmit({
                //        beforeSubmit: function() {
                //            if (!form.valid()) {

                //                return false;
                //            }
                //            else {

                //                return true;
                //            }
                //        },
                //        success: function(res) {
                //            if (res.code == 200) {
                //                AddRuleCondition(res.id);
                //                //$("#frmModel").modal('hide');
                //                //$("#ruleConditionForm").resetForm();

                //                //RuleConditionDataTable.init('', '', '', '');

                //                //NotifyMsg('success', res.message);

                //            } else {

                //                NotifyMsg('error', res.message);
                //            }
                //        },
                //        Errors: function() {

                //            NotifyMsg('error', res.message);
                //        }
                //    });
                //    return false;
                //});
            }
        }
        ///Add New rule Dtl
        var countDetails = 0;
        function AddNewRuleDtl() {
            countDetails = countDetails + 1;
            $("#divRuleDetails").append(`
                                                <input id="objRuleConditions_Dtl_Id_${countDetails}" type="hidden">
                                                <input id="objRuleConditions_Id_${countDetails}" type="hidden">
                                            <div class="col-4" id="divField_${countDetails}">
                                                <div class="form-group">
                                                <label>Fields Name</label>
                                                <select id="FieldName_${countDetails}" class="form-control" onchange="FieldsNameOnChange(${countDetails});">
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-4" id="divOpration_${countDetails}">
                                                <div class="form-group">
                                                <label>Operation</label>
                                                <select id="Opration_${countDetails}" class="form-control">
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-4" id="ddlOprationValue_${countDetails}">
                                                <div class="form-group">
                                                <label>Operation Value</label>
                                                <input class="form-control" id="OprationValue_${countDetails}" placeholder="Operation Value" type="text" value="" style="width: 85%;display: inline;">
                                                <a href="javascript:void(0)" value="Delete" onclick="DeleteRule1(${countDetails})"><i class="fa fa-trash" style="font-size: large;margin-top: 8px;" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-4" id="ddlOprationValueTemp_${countDetails}" style="display:none;">
                                                <div class="form-group">
                                                    <label>Operation Value</label>
                                                    <select id="OprationIdTemp_${countDetails}" name="OprationIdTemp" class="form-control" onchange="ddlOprationValueTempOnChange(${countDetails})" style="width: 85%;display: inline;"></select>
                                                    <a href="javascript:void(0)" value="Delete" onclick="DeleteRule1(${countDetails})"><i class="fa fa-trash" style="font-size: large;margin-top: 8px;" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            `);
            BindFiledNameDynamic(countDetails)
        };
        function AddNewLPPrio(count, RuleInstrumentId) {
            AddNewLPPrioJs(count, RuleInstrumentId);
        }
        function ddlOprationValueTempOnChange(cnt) {
            debugger;
            //OprationValue
            var selectOprationIdTemp = $("#OprationIdTemp_" + cnt).val();
            $("#OprationValue_" + cnt).val(selectOprationIdTemp);
        }
        function AddLeverageRule() {
            GetLeverageInEditTable();
        }
        function ExportLeverageRuleData(RuleId) {
            debugger;
            updateProgress(0);
            var table1 = $('#tblInstrument tr').length;

            //$("#ProcessModal").modal({ backdrop: 'static', keyboard: false });
            //$("#ProcessModal").focus();
            $("#ProcessModal").modal('show');

            var totalCnt = table1;//.fnSettings().fnRecordsTotal()
            var counter = totalCnt / 100;
            counter = Math.round(counter);
            var intervalId = window.setInterval(function() {
                if (counter < 90) {
                    updateProgress(counter);
                    counter = counter + 7;
                }
            }, 100);

            $.ajax({
                type: "POST",
                //async: false,
                url: '/LevarageRuleImport/ExportLevarage?LeverageRuleId=' + RuleId,
                //contentType: false,
                dataType: "binary",
                processData: false,
                //data: { RuleId },
                xhrFields: {
                    'responseType': 'blob'
                },
                success: function(res) {
                    debugger
                    const date = new Date();
                    let day = date.getDate();
                    let month = date.getMonth() + 1;
                    let year = date.getFullYear();
                    let currentDate = `${day}_${month}_${year}`;
                    $("#ProcessModal").modal("hide");
                    //updateProgress(0);
                    clearInterval(intervalId);
                    //completeHandler();

                    NotifyMsg('success', 'The file is exported');
                    var link = document.createElement('a'),
                        filename = "LevarageRuleImport_" + currentDate + ".xlsx";
                    link.href = URL.createObjectURL(res);
                    link.download = filename;
                    link.click();
                    completeHandler();
                },
                error: function(errorTemp) {
                    NotifyMsg('error', errorTemp);
                    console.log('error', errorTemp);
                }
            })
        }
        function updateProgress(count) {
            $('.bar').css('width', count + '%');
            $('.percent').text(count + '%');
        }
        function completeHandler() {
            $('.bar').width("100%");
            $('.percent').html("100%");
            $("#ProcessModal").modal('hide');
        }

        function AddNameFilter() {
            debugger;
            $("#Loader").show();
            var Name = $("#Instruments").val();
            if (Name == "") {

                NotifyMsg('error', 'Please select to Name');

                return false;
            }

            GetLeverageRuleInstrumentByRuleId($("#LeverageRuleID").val(),Name);
            $("#Loader").hide();
            //$.ajax({
            //    url: '/LevarageRuleImport/AddLeverageRuleData',
            //    type: "post",
            //    data: { id: $("#LeverageRuleID").val(), name: Name },

            //    success: function (res) 
            //    {
            //        //$("#Controls").load();
            //        //$('#tblInstrument').load('/LevarageRuleImport/Controls');

            //        //$("#tblInstrument thead").empty();
            //        //$("#tblInstrument tbody").empty();
            //        $("#Loader").hide();
            //        $('#tblInstrument').DataTable().clear();
            //        $('#tblInstrument').DataTable().destroy();

            //        $("#tblInstrument").html(res);

            //        $('#tblInstrument').DataTable();
            //    },
            //    error: function (errorTemp) {
            //        NotifyMsg('error', errorTemp);
            //        console.log('error', errorTemp);
            //    }
            //})
        }


        function updateTextView(_obj) {
            var num = getNumber(_obj.val());
            if (num == 0) {
                _obj.val('');
            } else {
                _obj.val(num.toLocaleString());
            }
        }
        //easyNumberSeparator({
        //    selector: '.number-separator',
        //    separator: ',',
        //    decimalSeparator: '.',
        //    resultInput: '#result_input',
        //})

    </script>
 }

